html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #83d7f8;
}

.top {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top:0;
  margin-bottom: 0;
}

.title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.startButtons {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 20px;
}

.startButtons button {
  margin: 5px;
  width: 125px;
  font-size:25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#roundEntry {
  font-size: 18px;
  margin-top: 5px;
}

#roundEntry input{
  font-size:18px;
  max-width: 5ch;
}

* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.roundInfo { 
  display: flex;
  width: 300px;
  align-items: center;
}

.score {
  font-size: 15px;
  justify-self: flex-start;
  text-align: center;
}

.backWrapper{
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.backButton {
  font-size: 15px;
}

.roundNum {
  font-size: 15px;
  justify-self: flex-end;
  text-align: center
}

.gameInterface img {
  max-height: 315px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 2px solid black
}

.gameInterface * {
  font-size: 20px;
}
.gameInterface input {
  width: 10ch;
}

.answer {
  font-size:25px;
  margin-top:5px;
}

.reloadButton, .nextButton{
  font-size:20px;
  margin-top:5px;
}

#playAgain {
  font-size: 30px;
}

.finalScore {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}